page-login {
}

.login {
    //background: #EFEFEF;
    background: url("../assets/img/torreReloj.jpg");
}

.loginTit {
    font-family: IndieFlower, cursive;
    font-size: 25 px;
    color: #3FCC9D;
    text-align: center;
}

.but{
    //font-family: IndieFlower, cursive;
    font-size: 14 px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    color: white;
    //color: #3FCC9D;
    //background: #CC7F75;
}

.item {
    font-family: IndieFlower, cursive;
    color: #CC7F75;
}

.btns {
        padding: 5px 0;
        width: 1005;
        background: rgba(10,10,10,0.5);
    }
