page-login {


.login {
    //background: #EFEFEF;
    background: url("../assets/img/torreReloj.jpg");
    background-size: 100%;
}

.loginTit {
    font-family: IndieFlower, cursive;
    font-size: 25 px;
    color: #3FCC9D;
    text-align: center;
}

.but{
    //font-family: IndieFlower, cursive;
    font-size: 14 px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    color: white;
    //color: #3FCC9D;
    //background: #CC7F75;
}

.item {
    /*font-family: IndieFlower, cursive;
    color: #CC7F75;*/
    background-color: rgba(0,0,0,0);
    color: #fff;
    
}

.btns {
        padding: 5px 0;
        width: 100%;
        height: 50%;
        position: absolute; 
        top: 50%;
        background: rgba(10,10,10,0.5);
    }

.btn {
        padding: 5px 0;
        position: absolute; 
        top: 92%;
        width: 100%;
        height: 8%;
        background: rgba(10,10,10,0.5);
    }
}